<!DOCTYPE html>
<html>
    <head>
        <title>Hangman</title>
    </head>
    <body>
      <form class="" action="/guess" method="post">
        <input type="text" name="guess" placeholder="Enter a letter to guess">
        <button type="submit" name="button">Go!</button>
        <a href="/"><button type="button" name="button"> Wanna give up and play again?</button></a>
      </form>
    </body>
</html>
